# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?




# on envoie pas le .env dans le repo normalement
# on le met dans le .gitignore

API_URL=http://localhost:3000
MONGODB_URI=mongodb://localhost:27017/Pokedex
FRONTEND_URL=http://localhost:5173
JWT_SECRET=maCléUltraSecrète123
JWT_EXPIRE=1h


