#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.pokemon-card{
  /* max-height: 400px;
  max-width: 270px; */
  height: 400px;
  width: 270px;
  border: 2px solid #ffcb05;
  padding: 10px;
  margin: 10px;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
}



.pokemon-stats {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  font-size: 73% ;
}


.pokemon-image{
  width: 150px;
  height: 150px;
}

.type-image{
  width: 130px;
  height: 30px
}


.search-bar {
  width: 100%;
  max-width: 500px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ffcb05; /* Jaune Pokémon */
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  color: #333;
  display: block;
}

.search-bar:focus {
  border-color: #3b4cca; /* Bleu Pokémon */
  box-shadow: 0 0 10px rgba(59, 76, 202, 0.5);
}



.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

}

.filter-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

}

.type-filter {
  width: 25%;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ffcb05;
  border-radius: 4px;
}

.sort-filter{
  width: 25%;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ffcb05;
  border-radius: 4px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 20px;
}


/* Styles pour le bouton shiny */
.pokemon-image-container {
  position: relative;
  display: inline-block;
}

.shiny-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #333;
  border: 2px solid gold;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.shiny-button:hover {
  background-color: black;
  transform: scale(1.1);
}

.shiny-button.active {
  background-color: gold;
  color : gold;
  box-shadow: 0 0 10px gold;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.shiny-badge {
  color: gold;
  margin-left: 5px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/* Effet spécial pour l'image shiny */
.pokemon-image {
  transition: filter 0.3s ease;
}

.pokemon-image-container:hover .pokemon-image {
  filter: brightness(1.05);
}

.favorite-button.favorited {
  color: red !important;
}


